mysql/
.vscode/
.env
templates_c/
app/src/logs/*
!app/src/logs/.gitkeep

notes.txt
app/vendor/
.phpcs-cache
app/src/App/*/Test*.*
app/src/templates/test*.*
app/tests/TotoTest.*
app/.phpunit.result.cache
*.bat
.phpunit.cache